.main-text{
    font-weight: bold;
    font-size: medium;
    white-space: nowrap;
    padding: 5px;
    margin: 10px;
}

.button-text{
    font-weight: bold;
    font-size: medium;
    white-space: nowrap;
    padding: 5px;
    margin: 5px;
}


.sub-name{
  position: relative;
  border: 2px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  background-color: white;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subs p:hover{
  cursor: pointer;
}

.subs{
  max-height: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
}

.no-display{
  display: none !important;
}

.button1{
  display: flex;
  align-items: center;
}

.del-btn:active{
  background-color: rgb(255, 255, 255);
  color: black;  
}

.del-btn>img, .del-btn:active>img{
  content: url("./SVG/delete.svg");
}

.del-btn-red{
  background-color: red;
  color: white;
}

.del-btn-red>img{
  content: url("./SVG/delete-white.svg");
}


.center-div{
  display:flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.list-div{
  border:2px solid black;
  background-color: lightgrey;
  border-radius: 5px;
  display:flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.button-div{
  border:2px solid black;
  background-color: lightgrey;
  border-radius: 5px;
  margin-bottom:10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display:flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

button{
    border-radius: 16px;
    margin: 5px;
    font-size: 13px;
    padding: 5px;
    position: relative;  
    border: none;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}

button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
 
  }
  
  button:active:after {

    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  button:active {
    top: 1px;
    background-color: darkgray;
    transition: all 1s;
  }
  
button:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    box-shadow: 5px 5px 15px rgba(24, 25, 22, 0.4);
  }

body{
  width:350px;
  display: flex;
  flex-direction: column;
}

input{
  border-radius: 5px;
  padding: 3px;
  border: 5px;
  height:30px;
  margin:5px; 
  }